body {
  min-width: 1200px;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;

  color: #ffffff;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
textarea {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  bodrer-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

input[type="text"]:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.page-wrapper {
  min-width: 1200px;
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font: inherit;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
  background-image: linear-gradient(to top, #e74b36 0%, #f26843 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.btn:hover,
.btn:focus {
  color: #fefefe;
  background-image: linear-gradient( to top, #ec6f5e 0%, #f58669 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.btn:active {
  background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.main-header {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-header-logo {
  margin-top: 9px;
  margin-right: 10px;
  width: 154px;
  height: 64px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.main-navigation-current {
  background-color: #d07058;
  border-radius: 16px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  margin-top: 6px;
  list-style: none;
}

.main-navigation-item {
  position: relative;
  display: inline-block;
  /*margin-right: 1px;*/
  vertical-align: middle;
  /*padding: 7px 20px;*/
}

.main-navigation  .main-navigation-link {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 7px 13px;
  color: #ffffff;
  border-radius: 16px;
  text-decoration: underline rgba(255, 255, 255, 0.2);
}

.main-navigation .active {
  color: #ffffff;
  background-color: #d07058;
}


.main-navigation a:hover,
.main-navigation a:focus {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 16px;
}

.main-navigation a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 0.004);
}


.main-navigation-submenu {
  position: absolute;
  width: 143px;
  top: 35px;
  padding-top: 10px;
  display: none;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;

  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  /*border-radius: 5px;*/
  z-index: 50;
}

.main-navigation-item:hover  .main-navigation-submenu {
  display: block;
  z-index: 30;
}

.submenu-item a {
  display: block;
  color: #323232;
	text-decoration: none;
	background-color: #f8f7f4;
	padding-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
}

/*.submenu-item a {
  display: block;
  margin-bottom: 3px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;
}*/

.submenu-item-title a {
  text-decoration: none;
  font-weight: 700;
  border-bottom: 1px solid #d1d0ce;
  /*border-radius: 0;*/
}

.submenu-item a:not(.submenu-item-active):hover,
.submenu-item a:not(.submenu-item-active):focus {
  background-color: #fbded7;
}

.submenu-item a:not(.submenu-item-active):active {
  background-color: #f6b5a5;
}

.submenu-item-active a {
  background-color: #d07058;
}


.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-top: 23px;
}

.user-navigation li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}


.user-navigation-item {
  display: block;
  margin-right: 10px;
}

.user-navigation-item:nth-child(3) {
  margin-right: 0;
}

.user-navigation-search {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 7px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  fill: #ffffff;
}

.user-navigation-item:nth-child(1) svg {
  position: absolute;
  left: 8px;
  top: 6px;
  margin-right: 3px;
}

.user-navigation-item:nth-child(2) svg {
  position: absolute;
  left: 14px;
  top: 6px;
  margin-right: 3px;
}

.user-navigation-item:nth-child(2) span {
  position: relative;
  left: 14px;
  top: 0px;
}


.user-navigation-item:nth-child(3) svg {
  position: absolute;
  left: 14px;
  top: 6px;
  margin-right: 3px;
}

.user-navigation-item:nth-child(3) span {
  position: relative;
  left: 7px;
  top: 1px;
}


.user-navigation-search:hover,
.user-navigation-search:focus {
  fill: #323232;
}

.user-navigation-login {
  box-sizing: border-box;
  width: 92px;
  height: 32px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  fill: #ffffff;
}

.user-navigation-login:hover,
.user-navigation-login:focus {
  color: #323232;
  fill: #323232;
}

.user-navigation-basket {
  text-align: center;
  box-sizing: border-box;
  width: 117px;
  min-height: 32px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  fill: #ffffff;
  text-decoration: none;
}

.user-navigation-basket:hover,
.user-navigation-basket:focus {
  fill: #323232;
}

.user-navigation-item a {
  display: block;
  padding: 8px 10px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
}

.user-navigation-item a:hover,
.user-navigation-item a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-item form {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.popup-search {
  position: absolute;
  display: none;
  box-sizing: border-box;
  right: 0;
  width: 341px;
  top: 26px;
  padding-top: 10px;
}

.search-form input {
	display: block;
	width: 100%;
	padding-left: 14px;
	padding-top: 8px;
	padding-bottom: 8px;
  border-radius: 5px;
}

.search-form input:focus+label {
	display: block;
	position: absolute;
	top: 5px;
	left: 28px;
	color: #5b9ddf;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
}


.search-form {
	background-color: #f8f7f4;
	padding: 20px 15px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	position: relative;
}

.user-navigation-item:hover .popup-search {
  display: block;
}

.user-options a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
}

.user-options a:hover,
.user-options a:active {
  color: #e84d37;
}


.contact-info {
  position: absolute;
  text-align: right;
  top: 55px;
  right: 0;
  z-index: 1;

}

.contact-info-hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.contact-info-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 0px;
}

  /*main*/

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offer-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 560px;
  padding: 17px 19px 22px;
  margin-bottom: 40px;

  border-radius: 15px;
}

.offer-item h3 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.offer-item p {
  margin: 0;
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #ffffff;
}

.offer-item-left {
  background-color: #c13f61;
  background-image: url("../img/bg-raspberry.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}

.offer-item-right {
  background-color: #61391e;
  background-image: url("../img/bg-chocolate.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}

.offer-item a {
  margin-left: auto;
  padding: 12px 23px;
  font-size: 18px;
  line-height: 24px;
}

/*Каталог*/

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-item img {
  border-radius: 50%;
  margin-bottom: -12px;
}

.product-item {
  width: 23.3%;
	position: relative;
	margin-bottom: 18px;
	z-index: 1;
}

.product-item-hover {
  display: none;
}

.product-item:hover .product-item-hover {
  display: block;
	position: absolute;
	width: 294px;
	height: 410px;
	background-color: rgba(255, 255, 255, .2);
	top: -6px;
	right: -12px;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
	z-index: -1;
}

.product-item:hover {
	z-index: 2;
}

.product-item-hover a {
	position: absolute;
	bottom: 20px;
	right: 60px;
	padding: 10px 15px;
	border-radius: 30px;
	cursor: pointer;
	background-color: none;
}


.product-item-info a {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
}

.product-item-info a:hover,
.product-item-info a:focus,
.product-item-info a:active {
  color: #ffbc9e;
}

.product-item-price {
  position: absolute;
  top: 160px;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  color: #ffffff;
}

.product-item-name {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2)
}

.product-item-price span {
  font-size: 30px;
}

.product-hit::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url("../img/hit.svg") no-repeat center center;
}

/*Слайдер*/

.page-wrapper {
  background: url("../img/slide-1.png") no-repeat center top;
}

.slider {
  position: relative;
  padding-top: 320px;
  margin-bottom: 53px;
  text-align: center;
}

.slider-content p {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 38px;
  font-size: 60px;
  line-height: 60px;
}

#slide1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#slide2:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#slide3:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

.toggles {
  position: absolute;
  left: 0;
  bottom: 12px;
  font-size: 0;
  text-shadow: none;
}

.toggles label {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 8px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.toggles label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

#slide1:checked ~ .page-wrapper label[for="slide1"],
#slide2:checked ~ .page-wrapper label[for="slide2"],
#slide3:checked ~ .page-wrapper label[for="slide3"] {
  background-color: #ffffff;
}


.slider-content {
  display: none;
}

#slide1:checked ~ .page-wrapper #slide-1,
#slide2:checked ~ .page-wrapper #slide-2,
#slide3:checked ~ .page-wrapper #slide-3 {
  display: block;
}

.btn-slide {
  padding: 12px 40px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 32px;
}
/*Преимущества*/
.features {
  /*box-sizing: border-box;*/
  background-color: #eadec5;
  background-image: url("../img/bg-waffle.jpg");
  background-repeat: repeat-x;
  padding: 5px 20px;
  margin-bottom: 40px;

  border-radius: 15px;
}

.features-header {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
  letter-spacing: 0.072px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  list-style: none;
}

.feature-item {
  position: relative;
  width: 480px;
  padding-top: 13px;
  padding-right: 5px;
  padding-bottom: 8px;
  padding-left: 57px;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #323232;
}

.feature-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.feature-equipment {
  background: url("../img/ice-cream.svg") no-repeat;
}

.feature-provider {
  background: url("../img/cow.svg") no-repeat;
}

.feature-quality {
  background: url("../img/eco.svg") no-repeat;
}

.feature-delivery {
  background: url("../img/thermometer.svg") no-repeat;
}
/*Новостной блог*/
.news-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news,
.post {
  box-sizing: border-box;
  width: 560px;
  border-radius: 15px;
  padding-left: 20px;
  overflow: hidden;
}

.blog-news {
  background: url("../img/bg-strawberry.jpg") no-repeat;
  background-position: 15% 40%;
}

.blog-news p {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 4px;
}

.blog-news a {
  margin: 0;
	width: 300px;
	line-height: 30px;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 70px;
}


.blog-news a {
  display: block;
  width: 290px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;

  color: #323232;
}

.blog-news a:hover,
.blog-news a:active {
  color: #e84d37;
}

/*Почтовая рассылка*/

.post {
	padding: 6px;
	background-image: url(../img/bg-post.jpg);
	background-repeat: no-repeat;
	border-radius: 15px;
	width: 560px;
}

.post-wrapper {
	background: #ffffff;
	border-radius: 15px;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.post p {
	color: #5a5a5a;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin: 0;
	padding: 0;
	padding-top: 28px;
	padding-bottom: 36px;
}

.post-form {
	padding-bottom: 36px;
	display: flex;
	justify-content: space-between;
}

.post-form input {
  display: inline-block;
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	width: 368px;
	height: 44px;
	padding: 14px;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
}

.post-btn {
	border: none;
	padding: 0;
	color: #fefefe;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	padding: 10px 19px;
	border-radius: 30px;
}

/*карта*/

.map {
  position: relative;
  width: 1200px;
  min-height: 430px;
  margin: 0 auto;
  background-color: #f7f1d9;
  background: url("../img/map.jpg") no-repeat center;
}

.contacts-wrapper {
  display: block;
  position: relative;
}

.contacts {
  position: absolute;
  width: 302px;
  box-sizing: border-box;
  padding: 0;
  /*padding: 12px 25px;*/
  padding-top: 14px;
  padding-right: 25px;
  padding-bottom: 35px;
  padding-left: 25px;

  top: 58px;
  right: 27px;

  color: #323232;
  background-color: #fdfefe;

  border-radius: 15px;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-adress-title {
  width: 155px;
  margin-bottom: 2px;
}

.contacts-adress {
  margin-bottom: 25px;
}

.contacts-phone-title {
  margin-bottom: 2px;
}

.contacts-phone {
  margin-bottom: 2px;
}

.contacts-worktime {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.btn-contacts {
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 25px;
  margin: 0 auto;
}

.contacts a {
  color: #fefefe;
  text-decoration: none;
}
/*Footer*/

.main-footer-line {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  margin-top: 32px;

}

.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-list li {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  text-align: left;
}

.footer-menu-list a {
  display: block;
  padding-left: 20px;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.footer-menu-item:nth-of-type(3) {
  padding-right: 12px;
}

.footer-menu-list a:hover,
.footer-menu-list a:active {
  color: #ffbc9e;
}

.footer-menu-heart {
  font-weight: 900;
}

.footer-menu-heart::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 15px;
  height: 13px;
  background: url("../img/heart.svg") no-repeat center center;
}

.footer-copyright {
  margin-top: 20px;
}

.footer-copyright p {
  font-size: 12px;
  font-weight: 500;
  margin-top: 0px;
}

.footer-link {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  text-decoration: underline rgba(255, 255, 255, 0.2);
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: #ffbc9e;
}

/*Социальные кнопки*/

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 36px;
}

.social-btn {
  margin-right: 10px;

}

.social-btn svg {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  fill: rgba(255, 255, 255, 0.8);
}

.social-btn svg:hover,
.social-btn svg:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
  fill: #ffffff;
}

.social-btn svg:active {
  box-shadow: inset 0 2px 1px 0 #888888;
}

/*модальное окно*/

.modal-feedback {

  display: none;
  box-sizing: border-box;
  position: fixed;
  top: 337px;
  left: 50%;
  margin-left: -13%;
  width: 478px;
  /*height: 443px;*/
  padding: 17px 24px;
  background-color: #f8f7f4;
  border-radius: 10px;
}


.btn-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 18px;
  font-size: 0;

  cursor: pointer;
}

.btn-close::before,
.btn-close::after {
  content: "";

  position: absolute;
  top: 15px;
  right: 16px;

  width: 15px;
  height: 3px;

  background-color: #231f20;
}

.btn-close::before {
  transform: rotate(45deg);
}

.btn-close::after {
  transform: rotate(-45deg);
}


.modal-feedback h2 {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-feedback input[type="text"] {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 14px;
  width: 267px;
  height: 44px;
  font-size: 16px;
  color: #999999;
  background-color: #ffffff;
  border: 2px solid #d3d3d2;
}

.modal-feedback input:focus,
.modal-feedback input:hover,
.modal-feedback textarea:focus,
.modal-feedback textarea:hover {
  border-color: #c7c6c5;
}

.modal-feedback input:active,
.modal-feedback textarea:active {
  border-color: #8fbdec;
}

.modal-feedback textarea {
  margin: 0;
  margin-bottom: 72px;
  padding-left: 14px;

  width: 428px;
  height: 155px;

  border: 2px solid #d3d3d2;

}

.modal-feedback input:hover {
  border-color: 2px solid #c7c6c5;
}

.modal-feedback .btn-feedback {
  position: absolute;
  margin-bottom: 24px;

  bottom: 0;
  right: 24px;

  width: 139px;
  height: 44px;
}


/*Всплывающая корзина*/

.popup-basket {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  top: 38px;
  right: 0;
  padding: 10px 15px 20px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  width: 540px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 70;
}

.basket-table {
  border-bottom: 1px solid #cacac7;
}

.basket-table img {
  border-radius: 50%;
}

.basket-table td {
  padding: 5px;
}

.basket-table td:nth-child(3) {
  width: 240px;
}

.btn-remove {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 11px;

  font-size: 0;
  border: 0;
  padding: 0;
  background: url("../img/cross-small.svg") no-repeat;

  cursor: pointer;
}

.btn-basket {
  box-sizing: border-box;
  width: 170px;
  min-height: 45px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-left: auto;
}

.btn-basket:hover,
.btn-basket:focus {
  color: #fefefe;
  background-image: linear-gradient( to top, #ec6f5e 0%, #f58669 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.basket-item-price {
  color: #999999;
}

.basket-total {
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  margin: 15px 0;
  margin-left: auto;
}

.user-navigation-basket:hover ~ .popup-basket,
.popup-basket:hover {
  visibility: visible;
}

/*Всплывающий Логин*/
.popup-login {
  position: absolute;
  box-sizing: border-box;
  visibility: hidden;
  padding-top: 5px;
  right: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 60;
}

.popup-login-form {
  box-sizing: border-box;
  background-color: #f8f7f4;
	width: 277px;
  height: 214px;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-left: 19px;
	padding-right: 17px;
	border-radius: 5px;
}

.popup-login-form input[type="email"] {
	margin-bottom: 18px;
}

.popup-login-form input[type="password"] {
	margin-bottom: 15px;
}

.popup-login-form input {
	padding: 10px;
	padding-left: 15px;
}

.login-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.user-options {
	display: flex;
  box-sizing: border-box;
  align-items: flex-start;
	flex-direction: column;
}

.user-options a {
  padding: 0;
}

.login-btn {
  display: block;
  width: 100px;
  height: 46px;
  /*padding-top: 8px;*/
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
}

.user-navigation-login:hover ~ .popup-login {
  visibility: visible;
}



.container h1 {
  font-size: 35px;
  line-height: 41px;
}

/*Хлебные крошки*/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 21px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs li::before {
  content: "\00BB";
  position: absolute;
  left: -13px;
}

.breadcrumbs li:first-child::before {
  content: "";
}

.breadcrumbs-item a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  text-decoration: underline;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:active {
  color: #ffbc9e;
}

.breadcrumbs-current {
  font-size: 14px;
  font-weight: 400px;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 27px;
}

/*Фильтры*/

.filters {
  /*display: flex;
  flex-wrap: wrap;*/
  margin-bottom: 14px;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 880px;
}

.filter-item {
  padding: 0;
  padding-bottom: 19px;
  margin: 0;

  border: none;
}

.filter-item input[type="text"] {
  border: none;
  color: #ffffff;
  background-color: #849d8f;
  font-weight: 500;
  width: 25px;
}

.filter-item:nth-child(4) {
  flex-grow: 1;
}

.filter-buttons,
.filter-price {
  padding: 7px 20px 7px 20px;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 18px;
}

.filter-item-sort {
  box-sizing: border-box;
  width: 194px;
  height: 37px;
  padding: 8px 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  border: none;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-color: rgba(248, 247, 244, 0.2);
  background-position: 90% 50%;

  -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;
  border-radius: 18px;
}

.filter-item-sort:hover,
.filter-item-sort:focus {
    background-color: #ffffff;
    color: #323232;
    background-image: url("img/select-arrow-black.svg");
}

.btn-filter {
  box-sizing: border-box;
  width: 148px;
  height: 41px;
  padding: 8px 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 14px;

  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 18px;
  cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #323232;
  background-color: #ffffff;
}

.btn-filter:active {
  color: #323232;
  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.filter-price {
  position: relative;
  box-sizing: border-box;
  padding: 8px 21px;
  width: 218px;
  height: 37px;
  margin-top: -2px; ?????
}

.filter-scale {
  margin-top: 7px;
  height: 4px;

  background-color: rgba(248, 247, 244, 0.5);
}

.filter-value {
  margin-left: 30px;
  width: 107px;
  height: 4px;

  background-color: rgb(248, 247, 244);
}

.filter-toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 6px;

  background-color: #ababab;
  border-radius: 50%;
  border: 8px solid #ffffff;
  cursor: pointer;
}

.toggle-min {
  left: 35px;
}

.toggle-max {
  right: 45px;
}

.filter-buttons-fat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 415px;
  height: 24px;
}

.filter-label-radio,
.filter-label-checkbox {
  padding-left: 27px;
}

.filter-label-radio:before,
.filter-label-radio:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -4px;
}

.filter-label-radio::before {
  width: 25px;
  height: 25px;
  opacity: 0.8;

  background: url(../img/radio-off.svg) no-repeat;
}

.filter-label-radio::after {
  width: 25px;
  height: 25px;

  opacity: 0;

  background: url(../img/radio-on.svg) no-repeat;
}


.filter-buttons-topping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 26px;
}

.filter-label-checkbox:before,
.filter-label-checkbox:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -4px;
}


.filter-label-checkbox::before {
  width: 25px;
  height: 25px;

  opacity: 0.8;

  background: url(../img/checkbox-off.svg) no-repeat;
}

.filter-label-checkbox::after {
  width: 24px;
  height: 24px;

  opacity: 0;

  background: url(../img/checkbox-on.svg) no-repeat;
}

.filter-input:checked + .filter-label-radio:after,
.filter-input:checked + .filter-label-checkbox:after {
  opacity: 0.8;
}

.filter-input:checked + .filter-label-radio:before,
.filter-input:checked + .filter-label-checkbox:before {
  opacity: 0;
}

.filter-label-radio:hover:before,
.filter-label-checkbox:hover:before {
  opacity: 1;
}

.filter-label {
  position: relative;
  /*margin-left: 15px;
  padding-left: 30px;*/

  font-weight: 500;
  line-height: 18px;

  cursor: pointer;
}

.filters legend {
  margin-left: 16px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
}

.filter-item input[type="text"] {
  font-size: 14px;
  line-height: 16px;
}

.filter-item-sort:hover {
  background-color:#ffffff ;
  color: #323232;
}

/*Пагинация*/

.paginator {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 47px;
  padding-bottom: 30px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 200px;
}


.pagination-item {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 26px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  border-radius: 50%;
}

.pagination-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  /*border-radius: 50%;*/
}

.pagination-item:active {
  background-color: #ffffff;
  /*border-radius: 50%;*/
}

.pagination-item-current  {
  background-color: #ffffff;
  color: #323232;

  border-radius: 50%;
}

.pagination-item a {
  display: block;

  text-decoration: none;
}
.pagination-item a:active {
  color: #323232;
}

.pagination-previous,
.pagination-next {
  position: relative;
  font-size: 0;
}

.pagination-previous::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;

  width: 7px;
  height: 7px;

  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;

  transform: rotate(315deg);
}

.pagination-next::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 5px;

  width: 7px;
  height: 7px;

  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;

  transform: rotate(135deg);
}

.pagination-previous:active::before,
.pagination-next:active::before  {
  content: "";

  border-top: 1px solid #323232;
  border-left: 1px solid #323232;
}

.pagination-item-disabled {
  opacity: 0.2;

  pointer-events: none;
}

.user-navigation-item::after,
.main-navigation-item::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 14px;
}
