body {
  min-width: 1200px;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;

  color: #ffffff;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
textarea {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  bodrer-radius: 5px;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

input[type="text"]:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
}

.popup-search,
.popup-login {
  display: none;
}

.page-wrapper {
  min-width: 1200px;
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font: inherit;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  text-decoration: none;
  background-image: linear-gradient(to top, #e74b36 0%, #f26843 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.btn:hover,
.btn:focus {
  color: #fefefe;
  background-image: linear-gradient( to top, #ec6f5e 0%, #f58669 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.btn:active {
  background-image: linear-gradient(to top, #e1613e 0%, #d74531 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-header-logo {
  margin-top: 9px;
  width: 154px;
  height: 64px;
}

.main-navigation {
  width: 700px;
  margin-top: 23px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  position: relative;
  display: inline-block;
  margin-right: 1px;
  vertical-align: middle;
}

.main-navigation  a {
  display: block;
  margin: 0;
  padding: 7px 14px;
  color: #ffffff;
  border-radius: 15px;
  text-decoration: underline rgba(255, 255, 255, 0.2);
}

.main-navigation .active {
  color: #ffffff;
  background-color: #d07058;
}


.main-navigation a:hover,
.main-navigation a:focus {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 15px;
}

.main-navigation a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px rgba(105, 105, 105, 0.004);
  border-radius: 15px;
}

.main-navigation-submenu {
  position: absolute;
  width: 143px;
  padding: 10px;
  display: none;
  opacity: 0;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.main-navigation-item:hover .main-navigation-submenu {
  display: block;
  opacity: 1;
}

.submenu-item a {
  display: block;
  margin-bottom: 3px;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;
}

.submenu-item-title a {
  font-weight: 700;
  border-bottom: 1px solid #d1d0ce;
}

.submenu-item a:hover,
.submenu-item a:focus {
  background-color: #fbded7;
}

.submenu-item a:active {
  background-color: #f6b5a5;
}

.submenu-item-active a {
  background-color: #d07058;
}

.main-navigation-item:hover .main-navigation-submenu {
  display: block;

  opacity: 1;
}

.user-navigation {
  width: 267px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  padding-top: 14px;
  list-style: none;
  font-size: 0;
}


.user-navigation li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}


.user-navigation-item {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}



.user-navigation-item:first-child {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}

.user-navigation-item:nth-child(2) {
  width: 92px;
  height: 32px;
}

.user-navigation-item:last-child {
  width: 117px;
  height: 32px;
}


.user-navigation-item a {
  display: block;
  padding: 8px 10px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

.user-navigation-item a:hover,
.user-navigation-item a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation-item form {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.user-navigation .popup-search {
  display: none;
  position: absolute;
  top: 38px;
  right: 0;
  width: 311px;
  padding: 20px 15px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4)
}

.user-navigation-item:hover .popup-search {
  display: block;
}

.user-options a {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #323232;
}

.user-options a:hover,
.user-options a:active {
  color: #e84d37;
}

.contact-info {
  width: 170px;
  margin-top: -20px;
  margin-left: auto;
  text-align: right;
}

.contact-info-hours {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: -15px;
}

.contact-info-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

  /*main*/

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.offer-item {
  width: 560px;
  min-height: 230px;
  margin-bottom: 40px;

  border-radius: 15px;
}

.offer-item h3 {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.offer-item p {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  color: #ffffff;
}

.offer-item-left {
  background-color: #c13f61;
  background-image: url("../img/bg-raspberry.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}

.offer-item-right {
  background-color: #61391e;
  background-image: url("../img/bg-chocolate.jpg");
  background-repeat: no-repeat;
  background-position: right center;
}

/*Каталог*/

.catalog-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.product-item {
  width: 267px;
}

.product-item img {
  border-radius: 50%;
}

.product-item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.product-item-info a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.product-item-info a:hover,
.product-item-info a:focus,
.product-item-info a:active {
  color: #ffbc9e;
}

.product-item-price {
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  color: #ffffff;
}
.product-item-price span {
  font-size: 30px;
}

/*Слайдер*/

.page-wrapper {
  background: url("../img/slide-1.png") no-repeat center top;
}



.slider {
  position: relative;
  padding-top: 260px;
  margin-bottom: 40px;
  text-align: center;
}

.slider-content p {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 41px;
  font-size: 60px;
  line-height: 60px;
}

#slide1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png") no-repeat 50% 0;
}

#slide2:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png") no-repeat 50% 0;
}

#slide3:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png") no-repeat 50% 0;
}

.toggles {
  position: absolute;
  left: 0;
  bottom: 18px;
  font-size: 0;
  text-shadow: none;
}

.toggles label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.toggles label:hover {
  background-color: rgba(248, 247, 244, 0.4);
}

#slide1:checked ~ .page-wrapper label[for="slide1"],
#slide2:checked ~ .page-wrapper label[for="slide2"],
#slide3:checked ~ .page-wrapper label[for="slide3"] {
  background-color: #ffffff;
}

.slider-content {
  display: none;
}

#slide1:checked ~ .page-wrapper .slide-1,
#slide2:checked ~ .page-wrapper .slide-2,
#slide3:checked ~ .page-wrapper .slide-3 {
  display: block;
}

.btn-slide {
  padding: 12px 40px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 32px;
}
/*Преимущества*/
.features {
  background-color: #eadec5;
  background-image: url("../img/bg-waffle.jpg");
  background-repeat: repeat-x;
  padding: 27px 20px;
  margin-bottom: 40px;

  border-radius: 15px;
}

.features-header {
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-list li {
  position: relative;
  width: 480px;
  padding-top: 13px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 57px;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #323232;
}

.feature-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

.feature-equipment {
  background: url("../img/ice-cream.svg") no-repeat;
}

.feature-provider {
  background: url("../img/cow.svg") no-repeat;
}

.feature-quality {
  background: url("../img/eco.svg") no-repeat;
}

.feature-delivery {
  background: url("../img/thermometer.svg") no-repeat;
}
/*Новостной блог*/
.news-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news {
  width: 560px;
  padding: 25px 20px;
  margin-right: 25px;
  color: #323232;
  background-color: #ffffff;
  background: url("../img/bg-strawberry.jpg") no-repeat;
  background-position: 15% 40%;
  border-radius: 15px;
}

.blog-news p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.blog-news a {
  display: block;
  width: 290px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;

  color: #323232;
}

.blog-news a:hover,
.blog-news a:active {
  color: #e84d37;
}
/*Почтовая рассылка*/
.post {
  width: 560px;
  min-height: 220px;
  /*padding: 31px 20px;*/
  background-image: url("../img/bg-post.jpg");
  border-radius: 15px;
}
.post-wrapper {
  border: 5px solid transparent;
  background-color: #f8f7f4;
  border-radius: 15px;
  margin: 5px;
  width: 520px;
  height: 210px;
}
.post p {
  margin: 28px 10px 37px 22px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  font-weight: 400;
}

.post input[type="email"] {
  box-sizing: border-box;
  width: 349px;
  height: 45px;
  padding-left: 14px;
  margin-left: 20px;
  margin-right: 10px;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.post .btn {
  width: 130px;
  height: 45px;
  font-size: 18px;
  line-height: 22px;
}

/*map*/
.map {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;

  width: 1200px;
  min-height: 430px;
  background: url("../img/map.jpg") no-repeat center;
}
.contacts {
  position: absolute;
  width: 302px;
  height: 305px;
  right: 27px;
  top: 62px;
  background-color: #fdfefe;
  color: #323232;
  border-radius: 15px;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

}

.contacts a {
  color: #fefefe;
  text-decoration: none;
}
/*Footer*/

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 35px;
  padding-bottom: 30px;
}

.footer-menu {
  display: flex;

}

.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-list li {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.footer-menu-list a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.footer-menu span {
  font-weight: bold;
}



.footer-copyright p {
  font-size: 12px;
  font-weight: normal;
}

.footer-copyrigt a {
  color: #ffffff;
  text-decoration: none;
}

/*Социальные кнопки*/

.social-btn {
  margin-right: 10px;

}
.social-btn svg {
  display: inline-block;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  fill: rgba(255, 255, 255, 0.8);
}

.social-btn svg:hover,
.social-btn svg:focus {
  border: 3px solid rgba(255, 255, 255, 0.7);
  fill: #ffffff;
}

.social-btn svg:active {
  box-shadow: inset 0 2px 1px 0 #888888;
}



/*модальное окно*/

.modal-feedback {
  box-sizing: border-box;
  position: fixed;
  top: 337px;
  left: 50%;
  margin-left: -13%;
  width: 478px;
  /*height: 443px;*/
  padding: 17px 24px;
  background-color: #f8f7f4;
  border-radius: 10px;
}


.btn-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 18px;
  font-size: 0;

  cursor: pointer;
}

.btn-close::before,
.btn-close::after {
  content: "";

  position: absolute;
  top: 15px;
  right: 16px;

  width: 15px;
  height: 3px;

  background-color: #231f20;
}

.btn-close::before {
  transform: rotate(45deg);
}

.btn-close::after {
  transform: rotate(-45deg);
}


.modal-feedback h2 {
  margin: 0;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.modal-feedback input[type="text"] {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 14px;
  width: 267px;
  height: 44px;
  font-size: 16px;
  color: #999999;
  background-color: #ffffff;
  border: 2px solid #d3d3d2;
}

.modal-feedback input:focus,
.modal-feedback input:hover,
.modal-feedback textarea:focus,
.modal-feedback textarea:hover {
  border-color: #c7c6c5;
}

.modal-feedback input:active,
.modal-feedback textarea:active {
  border-color: #8fbdec;
}

.modal-feedback textarea {
  margin: 0;
  margin-bottom: 72px;
  padding-left: 14px;

  width: 428px;
  height: 155px;

  border: 2px solid #d3d3d2;

}

.modal-feedback input:hover {
  border-color: 2px solid #c7c6c5;
}

.modal-feedback .btn-feedback {
  position: absolute;
  margin-bottom: 24px;

  bottom: 0;
  right: 24px;

  width: 139px;
  height: 44px;
}


/*Каталог*/

.popup-basket {
  display: none;
  position: absolute;

  font-size: 13px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.basket-table {
  border-bottom: 1px solid #cacac7;
}

.basket-item-price {
  color: #999999;
}

.basket-total {
  font-size: 15px;
  line-height: 18px;
  color: #323232;
}


.container h1 {
  font-size: 35px;
  line-height: 41px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 25px;
}

.breadcrumbs li::before {
  content: "»";
  position: absolute;
  left: -15px;
}

.breadcrumbs li:first-child::before {
  content: "";
}

.breadcrumbs-item a {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  text-decoration: underline;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:active {
  color: #ffbc9e;
}

.breadcrumbs-current {
  font-size: 14px;
  font-weight: 400px;
}

.catalog-title {
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 28px;
}

/*Фильтры*/

.filters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.filter-item:first-child {
  margin: 0;
  padding: 0;
  margin-right: 14px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filter-item-sort {
  margin-bottom: 17px;
}


.filters fieldset {
  border: none;
}

.filters legend {
  margin-left: 16px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.filters select,
.filters .filter-price,
.filters .filter-buttons {
  height: 37px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-item-sort:hover {
  background-color:#ffffff ;
  color: #323232;
}

/*Пагинация*/

.pagination-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.pagination-item {
  margin-right: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.pagination-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.pagination-item:active {
  background-color: #ffffff;
  border-radius: 50px;
}

.pagination-item a {
  color: #ffffff;
  text-decoration: none;
}

.pagination-item a:active {
  color: #323232;
}
